<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: arial;
            text-align: center;
            background: {{background}}
        }
        .frase {
            text-align: center;
            font-size: 3em;
            max-width: 800px;
            margin: 0 auto;
            vertical-align: middle;
            height: 100%;
            margin-top: 10%;
            margin-bottom: 2%;
        }
    </style>
    
    <title>Frase do dia!</title>
  </head>
  <body >
    <div class="frase">{{ frase }}</div>
    <a href=".">Atualizar</a>    
  </body>
</html>
